body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.game-grid {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.game-card {
    text-decoration: none;
    color: white;
    background: #222;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.game-card:hover {
    background: #444;
}

.game-card img {
    width: 200px;
    border-radius: 8px;
}